name = "CVC"
uuid = "89df7e7c-6d4a-4f08-8f7d-38a60cbd4ddd"
authors = ["Dohyun Kim"]
version = "1.0.0-DEV"

[compat]
julia = "1.6.7"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
